<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>太平鸟API管理平台</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />


    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div th:replace="projectMenu::top-menu"></div>

    <div th:replace="projectMenu::left-menu(6,${project.id})"></div>

    <div class="layui-body">


        <div style="padding: 15px;">
            <div class="head-cont">
                <div class="hpanel">
                    <div class="hpanel-head">
                    </div>
                    <div class="hpanel-body">
                        <div class="form-group">
                            接口名称：
                            <div class="layui-inline" style="margin-right: 20px">
                                <input class="layui-input" name="id" id="apiName" autocomplete="off" />
                            </div>
                            <button class="layui-btn js-search-role" data-type="reload">搜索</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hpanel">
                    <div class="hpanel-head">
                    </div>
                    <div class="hpanel-body">
                        <table class="layui-hide" id="role-tb" lay-filter="pro-filter">

                        </table>
                    </div>
                </div>
            </div>
        </div>







    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © peacebird.com - 太平鸟平台组API管理中心
    </div>
</div>


<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status"  lay-skin="switch" lay-text="启用|禁用"   />
</script>

<script type="text/html" id="my-pro-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:src="@{/layui/layui.js}" charset="utf-8"></script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#role-tb'
            ,url: '/project/my/list/'
            ,cols: [[
                {checkbox:true}
                ,{type:'numbers'}
                ,{field:'username', width:180, title: '接口名称'}
                ,{field:'sex', width:380, title: '描述'}
                ,{field:'status', width:105,align:'center', title: '状态',templet: '#switchTpl', unresize: true}
                ,{width:300, align:'center',title: '操作', toolbar: '#my-pro-bar'}

            ]]
            ,id: 'roleReload'
            ,page: true
            ,height: 350
            ,limit:10

        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {

                        projectName: demoReload.val()

                    }
                });
            }
        };


        //监听工具条
        table.on('tool(pro-filter)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href = "/ams/pro/base/info/"+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){

            }
        });




        $('.layui-body .js-search-pro').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>



</body>
</html>