<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>太平鸟API管理平台</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />


    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div th:replace="projectMenu::top-menu"></div>

    <div th:replace="projectMenu::left-menu(1,${project.id})"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            <blockquote class="layui-elem-quote" th:text="项目详情"></blockquote>


            <div class="base-cont">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name"  th:value="${project.name}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" th:checked="${project.status == 0?false:true}"  name="status" lay-skin="switch" lay-text="开启|关闭" />
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">项目描述</label>
                        <div class="layui-input-block">
                            <textarea name="describes" placeholder="请输入内容" class="layui-textarea" th:text="${project.describes}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="*">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © peacebird.com - 太平鸟平台组API管理中心
    </div>
</div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>




<!--thymeleaf模板js调用java变量 -->
<script th:inline="javascript">
    var proId = [[${project.id}]];

    layui.use(['layer','jquery','form'], function() {
        var form = layui.form,$ = layui.jquery,layer = layui.layer;
        form.on('submit(*)', function (data) {
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

            $.post("/project/edit/"+proId,{name:data.field.name,status:data.field.status,describes:data.field.describes},function(json){
                if(json.status == "succ"){
                    window.location.reload();
                }else
                    layer.msg("编辑项目失败！");
            })

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    })


</script>


</body>
</html>