<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="layui-header" th:fragment="top-menu">
        <div class="layui-logo" style="color: white;">太平鸟API管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav  layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">控制台</a>
                <dl class="layui-nav-child">
                    <dd><a href="/">项目管理</a></dd>
                    <dd><a href="">接口管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/message">最新消息<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心</a>
            </li>

        </ul>
        <ul class="layui-nav  layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/head.png}" class="layui-nav-img" />
                    <span th:text="${curUser.getUsername()}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">密码重置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/user/logout}" href="">退出</a></li>
        </ul>
    </div>






    <div th:fragment="left-menu(index,proId)" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item" th:classappend="${index == 1?'layui-this':''}">
                    <a th:href="'/pro/base/info/'+${proId}">项目基本信息</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 2?'layui-this':''}">
                    <a th:href="'/pro/role/'+${proId}">项目角色</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 3?'layui-this':''}">
                    <a th:href="'/pro/member/'+${proId}">项目成员</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 4?'layui-this':''}" >
                    <a th:href="'/pro/api/manage/'+${proId}">接口管理</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 5?'layui-this':''}" >
                    <a th:href="'/pro/api/manage/'+${proId}">接口权限配置</a>
                </li>
            </ul>
        </div>
    </div>



</body>
</html>