<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="layui-header" th:fragment="top-menu">
        <div class="layui-logo" style="color: white;">太平鸟API管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav  layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">控制台</a>
                <dl class="layui-nav-child">
                    <dd><a href="/">项目管理</a></dd>
                    <dd><a href="">接口测试</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/ams/message">最新消息<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心</a>
            </li>

        </ul>
        <ul class="layui-nav  layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/userface1.jpg}" class="layui-nav-img" />
                    <span th:text="${curUser.getUsername()}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">密码重置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/user/logout}" href="">退出</a></li>
        </ul>
    </div>






    <div th:fragment="left-menu(index,proId)" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item" th:classappend="${index == 1?'layui-this':''}">
                    <a th:href="'/ams/pro/base/info/'+${proId}"><i class="iconfont icon-menu1" data-icon="icon-star"></i>项目基本信息</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 2?'layui-this':''}">
                    <a th:href="'/ams/pro/role/'+${proId}"><i class="iconfont icon-huanfu" data-icon="icon-dengji1"></i>项目角色</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 3?'layui-this':''}">
                    <a th:href="'/ams/pro/member/'+${proId}"><i class="iconfont icon-dongtaifensishu" data-icon="icon-dengji1"></i>项目成员</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 4?'layui-this':''}" >
                    <a th:href="'/ams/pro/api/manage/'+${proId}"><i class="iconfont icon-edit" data-icon="icon-dengji1"></i>接口管理</a>
                </li>
                <li class="layui-nav-item" th:classappend="${index == 5?'layui-this':''}" >
                    <a th:href="'/ams/pro/api/manage/'+${proId}"><i class="iconfont icon-shezhi1" data-icon="icon-dengji1"></i>接口权限配置</a>
                </li>
            </ul>
        </div>
    </div>



    <div th:fragment="pc-menu(index)" class="layui-side layui-bg-black">

        <div class="user-photo">
            <a class="img" title="我的头像"><img th:src="@{/img/userface1.jpg}" /></a>
            <p>你好！<span class="userName" th:text="${curUser.getUsername()}"></span>, 欢迎登录</p>
        </div>

        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item" th:classappend="${index == 1?'layui-this layui-nav-itemed':''}">
                    <a class="" th:href="@{/}"><i class="iconfont icon-computer" data-icon="icon-computer"></i>首页</a>
                </li>
                <li class="layui-nav-item" th:classappend="${(index == 4 || index==2||index ==3)?'layui-nav-itemed':''}">
                    <a class="" href="javascript:;"><i class="iconfont icon-text" data-icon="icon-text"></i>项目管理</a>
                    <dl class="layui-nav-child">
                        <dd th:classappend="${index == 2?'layui-this':''}"><a th:href="@{/ams/pro/me}"><i class="iconfont icon-star" data-icon="icon-star"></i>我创建的项目</a></dd>
                        <dd th:classappend="${index == 3?'layui-this':''}"><a th:href="@{/ams/pro/join}"><i class="iconfont icon-caozuo" data-icon="icon-caozuo"></i>我加入的项目</a></dd>
                        <dd th:classappend="${index == 4?'layui-this':''}"><a th:href="@{/ams/pro/join}"><i class="iconfont icon-lock1" data-icon="icon-lock1"></i>归档的项目</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>



</body>
</html>